<!-- Notification Settings -->
<div class="tab-pane fade" id="nav-1-1-default-hor-left-underline--4" role="tabpanel">
    <form method="POST">
        <h2 class="h4 g-font-weight-600">리그 알람설정</h2>
        <p class="g-mb-25">개별알람을 설정할 수 있습니다..</p>

        <input class="hidden-xs-up" type="text" name="setting_category" value="notify">

        <!-- Email Notification -->
        <div class="form-group">
            <label class="d-flex align-items-center justify-content-between">
                        <span>경기일정알람</span>
                        <div class="u-check">
                          <input class="hidden-xs-up g-pos-abs g-top-0 g-right-0" name="emailNotification" type="checkbox" checked>
                          <div class="u-check-icon-radio-v7">
                            <i class="d-inline-block"></i>
                          </div>
                        </div>
                      </label>
        </div>
        <!-- End Email Notification -->

        <hr class="g-brd-gray-light-v4 g-my-20">

        <!-- Comments Notification -->
        <div class="form-group">
            <label class="d-flex align-items-center justify-content-between">
                        <span>리그시작알람</span>
                        <div class="u-check">
                          <input class="hidden-xs-up g-pos-abs g-top-0 g-right-0" name="commentNotification" type="checkbox">
                          <div class="u-check-icon-radio-v7">
                            <i class="d-inline-block"></i>
                          </div>
                        </div>
                      </label>
        </div>
        <!-- End Comments Notification -->

        <hr class="g-brd-gray-light-v4 g-my-20">

        <!-- Update Notification -->
        <div class="form-group">
            <label class="d-flex align-items-center justify-content-between">
                        <span>공지사항알람</span>
                        <div class="u-check">
                          <input class="hidden-xs-up g-pos-abs g-top-0 g-right-0" name="updateNotification" type="checkbox" checked>
                          <div class="u-check-icon-radio-v7">
                            <i class="d-inline-block"></i>
                          </div>
                        </div>
                      </label>
        </div>
        <!-- End Update Notification -->

        <hr class="g-brd-gray-light-v4 g-my-25">

        <!-- Message Notification -->
        <div class="form-group">
            <label class="d-flex align-items-center justify-content-between">
                        <span>경기결과알람</span>
                        <div class="u-check">
                          <input class="hidden-xs-up g-pos-abs g-top-0 g-right-0" name="messageNotification" type="checkbox" checked>
                          <div class="u-check-icon-radio-v7">
                            <i class="d-inline-block"></i>
                          </div>
                        </div>
                      </label>
        </div>
        <!-- End Message Notification -->

        <hr class="g-brd-gray-light-v4 g-my-25">

        <!-- Newsletter Notification -->
        <div class="form-group">
            <label class="d-flex align-items-center justify-content-between">
                        <span>기록갱신알람</span>
                        <div class="u-check">
                          <input class="hidden-xs-up g-pos-abs g-top-0 g-right-0" name="newsletterNotification" type="checkbox">
                          <div class="u-check-icon-radio-v7">
                            <i class="d-inline-block"></i>
                          </div>
                        </div>
                      </label>
        </div>
        <!-- End Newsletter Notification -->

        <hr class="g-brd-gray-light-v4 g-my-25">

        <div class="text-sm-right">
            <a class="btn u-btn-darkgray rounded-0 g-py-12 g-px-25 g-mr-10" href="#">Cancel</a>
            <a class="btn u-btn-primary rounded-0 g-py-12 g-px-25" href="#">Save Changes</a>
        </div>
    </form>
</div>
<!-- End Notification Settings -->