<!-- Security Settings -->
<div class="tab-pane fade" id="nav-1-1-default-hor-left-underline--2" role="tabpanel">
    <form method="POST">
        <h2 class="h4 g-font-weight-600">보안설정</h2>
        <p class="g-mb-25">계정 보안관련 설정을 변경할 수 있습니다.</p>

        <input class="hidden-xs-up" type="text" name="setting_category" value="security">

        <input class="hidden-xs-up" type="text" name="profile_user_id" value="<%=data_user_id%>">

        <!-- Current Password -->
        <div class="form-group row g-mb-25">
            <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-right g-mb-10">현재핀번호</label>
            <div class="col-sm-9">
                <div class="input-group g-brd-primary--focus">
                    <input class="form-control form-control-md border-right-0 rounded-0 g-py-13 pr-0" type="password" placeholder="현재핀번호" name="old_password">
                    <div class="input-group-addon d-flex align-items-center g-bg-white g-color-gray-light-v1 rounded-0">
                        <i class="icon-lock"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Current Password -->

        <!-- New Password -->
        <div class="form-group row g-mb-25">
            <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-right g-mb-10"> 새핀번호</label>
            <div class="col-sm-9">
                <div class="input-group g-brd-primary--focus">
                    <input class="form-control form-control-md border-right-0 rounded-0 g-py-13 pr-0" type="password" placeholder="새핀번호" name="new_password">
                    <div class="input-group-addon d-flex align-items-center g-bg-white g-color-gray-light-v1 rounded-0">
                        <i class="icon-lock"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- End New Password -->

        <!-- Verify Password -->
        <div class="form-group row g-mb-25">
            <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-right g-mb-10">새핀번호확인</label>
            <div class="col-sm-9">
                <div class="input-group g-brd-primary--focus">
                    <input class="form-control form-control-md border-right-0 rounded-0 g-py-13 pr-0" type="password" placeholder="새핀번호확인" name="confirm_password">
                    <div class="input-group-addon d-flex align-items-center g-bg-white g-color-gray-light-v1 rounded-0">
                        <i class="icon-lock"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Verify Password -->

        <!-- Login Verification
                                <div class="form-group row g-mb-25">
                                    <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-right g-mb-10">Login verification</label>
                                    <div class="col-sm-9">
                                        <label class="form-check-inline u-check g-pl-25">
                          <input class="hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                          <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                            <i class="fa" data-check-icon="&#xf00c"></i>
                          </div>
                          Verify login requests
                        </label>
                                        <small class="d-block text-muted">You need to add a phone to your profile account to enable this feature.</small>
                                    </div>
                                </div>
                                End Login Verification -->

        <!-- Save Password -->
        <div class="form-group row g-mb-25">
            <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-right g-mb-10">자동로그인</label>
            <div class="col-sm-9">
                <label class="form-check-inline u-check mx-0">
                          <input class="hidden-xs-up g-pos-abs g-top-0 g-right-0" name="savePassword" type="checkbox" <%=auto_login_checked%>>
                          <div class="u-check-icon-radio-v7">
                            <i class="d-inline-block"></i>
                          </div>
                        </label>
                <small class="d-block text-muted">브라우저에 로그인 정보를 저장합니다. 공용PC에서 사용 시 주의해주시기 바랍니다. </small>
            </div>
        </div>
        <!-- End Save Password -->

        <hr class="g-brd-gray-light-v4 g-my-25">

        <div class="text-sm-right">
            <button class="btn u-btn-darkgray rounded-0 g-py-12 g-px-25 g-mr-10" type="cancel">취소</button>
            <button class="btn u-btn-primary rounded-0 g-py-12 g-px-25" type="submit"><i class="fa fa-save mr-2"></i>저장</button>
        </div>
    </form>
</div>
<!-- End Security Settings -->