<!-- Payment Options -->
<div class="tab-pane fade" id="nav-1-1-default-hor-left-underline--3" role="tabpanel">
    <h2 class="h4 g-font-weight-600">보안설정</h2>
    <p class="g-mb-25">계정 보안관련 설정을 변경할 수 있습니다.</p>

    <form>

        <!-- Card Name and Number -->
        <div class="row">
            <!-- Card Name -->
            <div class="col-md-6">
                <div class="form-group g-mb-20">
                    <label class="g-color-gray-dark-v2 g-font-weight-700 g-mb-10" for="inputGroup1_1">Name on card</label>
                    <div class="input-group g-brd-primary--focus">
                        <input class="form-control form-control-md border-right-0 rounded-0 g-py-13 pr-0" type="text" placeholder="John Doe">
                        <div class="input-group-addon d-flex align-items-center g-bg-white g-color-gray-light-v1 rounded-0">
                            <i class="icon-user"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Card Name -->

            <!-- Card Number -->
            <div class="col-md-6">
                <div class="form-group g-mb-20">
                    <label class="g-color-gray-dark-v2 g-font-weight-700 g-mb-10" for="inputGroup1_1">Card number</label>
                    <div class="input-group g-brd-primary--focus">
                        <input id="inputGroup1_3" class="form-control form-control-md g-brd-right-none rounded-0 g-py-13" type="text" placeholder="XXXX-XXXX-XXXX-XXXX"
                            data-mask="9999-9999-9999-9999">
                        <div class="input-group-addon d-flex align-items-center g-color-gray-dark-v5 rounded-0">
                            <i class="icon-credit-card"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Card Number -->
        </div>
        <!-- End Card Name and Number -->

        <!-- Card Expiration Dates and CVV Code -->
        <div class="row">
            <!-- Expiration Month -->
            <div class="col-md-4">
                <label class="g-color-gray-dark-v2 g-font-weight-700 g-mb-10" for="inputGroup1_1">Expiration month</label>
                <select class="js-custom-select u-select-v1 g-brd-gray-light-v2 g-color-gray-dark-v5 w-100 g-pt-11 g-pb-10" data-placeholder="Month"
                    data-open-icon="fa fa-angle-down" data-close-icon="fa fa-angle-up">
                          <option selected="">Month</option>
                          <option value="1">January</option>
                          <option value="1">February</option>
                          <option value="3">March</option>
                          <option value="4">April</option>
                          <option value="5">May</option>
                          <option value="6">June</option>
                          <option value="7">July</option>
                          <option value="8">August</option>
                          <option value="9">September</option>
                          <option value="10">October</option>
                          <option value="11">November</option>
                          <option value="12">December</option>
                        </select>
            </div>
            <!-- End Expiration Month -->

            <!-- Expiration Year -->
            <div class="col-md-4">
                <div class="form-group g-mb-20">
                    <label class="g-color-gray-dark-v2 g-font-weight-700 g-mb-10" for="inputGroup1_1">Expiration year</label>
                    <div class="input-group g-brd-primary--focus">
                        <input class="form-control form-control-md border-right-0 rounded-0 g-py-13 pr-0" type="text" placeholder="2021">
                        <div class="input-group-addon d-flex align-items-center g-bg-white g-color-gray-light-v1 rounded-0">
                            <i class="icon-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Expiration Year -->

            <!-- CVV Code -->
            <div class="col-md-4">
                <div class="form-group g-mb-20">
                    <label class="g-color-gray-dark-v2 g-font-weight-700 g-mb-10" for="inputGroup1_1">CVV code</label>
                    <div class="input-group g-brd-primary--focus">
                        <input class="form-control form-control-md border-right-0 rounded-0 g-py-13 pr-0" type="text" placeholder="2021">
                        <div class="input-group-addon d-flex align-items-center g-bg-white g-color-gray-light-v1 rounded-0">
                            <i class="icon-lock"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End CVV Code -->
        </div>
        <!-- End Card Expiration Dates and CVV Code -->

        <!-- Billing Address -->
        <div class="form-group">
            <label class="d-block g-color-gray-dark-v2 g-font-weight-700 1text-sm-right g-mb-10">Billing address</label>
            <label class="u-check g-pl-25 mb-0">
                        <input class="hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                        <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                          <i class="fa" data-check-icon="&#xf00c"></i>
                        </div>
                        Same as shipping address?
                      </label>
        </div>
        <!-- End Billing Address -->

        <hr class="g-brd-gray-light-v4 g-my-25">

        <div class="text-sm-right">
            <a class="btn u-btn-darkgray rounded-0 g-py-12 g-px-25 g-mr-10" href="#">Cancel</a>
            <a class="btn u-btn-primary rounded-0 g-py-12 g-px-25" href="#">Save Changes</a>
        </div>
    </form>
</div>
<!-- End Payment Options -->