<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Title -->
    <title>SPEX S02 | New heros are always welcome.</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" href="../../favicon.ico"> -->

    <!-- Google Fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700%7CEk+Mukta:400,600,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Niconne">


    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/s2/assets/vendor/bootstrap/bootstrap.min.css">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="/s2/assets/css/unify.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/s2/assets/css/custom.css">

</head>

<body>
    <main class="g-min-height-100vh g-flex-centered g-pa-15">
        <div class="text-center g-flex-centered-item g-position-rel g-pb-15">
            <div class="g-font-size-180 g-font-size-240--sm g-line-height-1 g-font-weight-600er g-color-gray-light-v4">404</div>

            <div class="g-absolute-centered">
                <h1 class="g-color-black g-mt-minus-8 mb-0">404&nbsp;Not&nbsp;Found</h1>

                <hr class="g-brd-gray-light-v3 g-my-15">

                <p class="g-font-size-18 mb-0"><a href="#" class="g-color-black g-color-primary--hover g-text-no-underline--hover">← Home Page</a></p>
            </div>
        </div>
    </main>

    <!-- JS Global Compulsory -->
    <script src="/s2/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/s2/assets/vendor/tether.min.js"></script>
    <script src="/s2/assets/vendor/bootstrap/bootstrap.min.js"></script>


    <!-- JS Customization -->
    <script src="/s2/assets/js/custom.js"></script>
</body>

</html>