<!-- Footer -->
<footer>
    <%- include ./sections/api_modal.ejs %>
        <!-- Copyright -->
        <div class="text-center g-color-gray-light-v1 g-py-30">
            <div class="container">
                <p class="g-theme-color-gray-light-v2 g-font-size-12 mb-0">
                    © 2017 All right reserved.
                    <a class="g-color-gray-dark-v2 g-color-gray-dark-v2--hover" href="#"><strong>SPEX</strong></a>. Development
                    by
                    <a class="g-color-gray-dark-v2 g-color-gray-dark-v2--hover" href="#"><strong>부모</strong></a>
                </p>
            </div>
        </div>
        <!-- End Copyright -->
</footer>
<!-- End Footer -->

<a class="js-go-to u-go-to-v2" href="#" data-type="fixed" data-position='{
        "bottom": 15,
        "right": 15
      }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
     <i class="fa fa-chevron-up"></i>
   </a>