<!DOCTYPE html>
<html>

<head>
    <title>SPEX S02 | New heroes are always welcome.</title>
    <script>
        window.location.replace("http://spex.me/s2/signin");
    </script>
</head>

<body>
    <img src="http://spex.me/s2/assets/img/league_large_poster.jpg">
</body>

</html>