<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Title -->
    <title>SPEX S02 | New heroes are always welcome.</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/s2/favicon.png">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700%7CEk+Mukta:400,600,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Niconne">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/s2/assets/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/s2/assets/vendor/icon-line/css/simple-line-icons.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/s2/assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/s2/assets/vendor/hamburgers/hamburgers.min.css">
    <link rel="stylesheet" href="/s2/assets/vendor/jquery-confirm/jquery-confirm.min.css">
    <link rel="stylesheet" href="/s2/assets/vendor/wait-animate.min.css">
    <link rel="stylesheet" href="/s2/assets/vendor/animate.css">
    <link rel="stylesheet" href="/s2/assets/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/s2/assets/vendor/jquery-ui/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="/s2/assets/vendor/dzsparallaxer/dzsparallaxer.css">
    <link rel="stylesheet" href="/s2/assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
    <link rel="stylesheet" href="/s2/assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
    <link rel="stylesheet" href="/s2/assets/vendor/chosen/chosen.css">
    <link rel="stylesheet" href="/s2/assets/vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="/s2/assets/vendor/jalendar/jalendar.css">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="/s2/assets/css/unify.css">

    <!-- Overwatch HeroIcons -->
    <link rel="stylesheet" href="/s2/assets/vendor/overwatch-icon/ohi_font.css">

    <!-- CSS Template -->
    <link rel="stylesheet" href="/s2/assets/css/styles.op-construction.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/s2/assets/css/custom.css">
</head>

<body>
    <main class="g-pt-75 g-pt-90--md">

        <% include ./header.ejs %>
            <%- body %>
                <% include ./footer.ejs %>
    </main>

    <!-- JS Global Compulsory -->
    <script src="/s2/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/s2/assets/vendor/tether.min.js"></script>
    <script src="/s2/assets/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/s2/assets/vendor/underscore/underscore.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="/s2/assets/vendor/jquery-confirm/jquery-confirm.min.js"></script>
    <script src="/s2/assets/vendor/appear.js"></script>
    <script src="/s2/assets/vendor/slick-carousel/slick/slick.js"></script>

    <script src="/s2/assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="/s2/assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
    <script src="/s2/assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
    <!--
    <script src="/s2/assets/vendor/select2/select2.full.min.js"></script>
    -->
    <script src="/s2/assets/vendor/moment/moment.min.js"></script>
    <script src="/s2/assets/vendor/jquery.countdown.min.js"></script>
    <script src="/s2/assets/vendor/chosen/chosen.jquery.js"></script>
    <script src="/s2/assets/vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script src="/s2/assets/vendor/jalendar/jalendar.js"></script>

    <!-- JS Storage for Session -->
    <script src="/s2/assets/js/storage.js"></script>

    <!-- jQuery UI Widgets -->
    <script src="/s2/assets/vendor/jquery-ui/ui/widgets/datepicker.js"></script>

    <!-- JS Unify -->
    <script src="/s2/assets/js/hs.core.js"></script>

    <script src="/s2/assets/js/components/hs.header.js"></script>
    <script src="/s2/assets/js/helpers/hs.hamburgers.js"></script>
    <script src="/s2/assets/js/helpers/hs.focus-state.js"></script>
    <script src="/s2/assets/js/components/hs.scroll-nav.js"></script>
    <script src="/s2/assets/js/components/hs.tabs.js"></script>
    <script src="/s2/assets/js/components/hs.carousel.js"></script>
    <script src="/s2/assets/js/components/hs.datepicker.js"></script>
    <script src="/s2/assets/js/components/hs.countdown.js"></script>
    <script src="/s2/assets/js/components/hs.cubeportfolio.js"></script>
    <script src="/s2/assets/js/components/hs.count-qty.js"></script>
    <script src="/s2/assets/js/components/hs.select.js"></script>
    <script src="/s2/assets/js/components/hs.go-to.js"></script>
    <script src="/s2/assets/js/components/hs.masked-input.js"></script>
    <script src="/s2/assets/js/components/hs.select.js"></script>

    <!-- JS Customization -->
    <script src="/s2/assets/js/custom.js"></script>

    <!-- JS SPEX API -->
    <script src="/s2/assets/js/api.js"></script>

    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
            // initialization of HSScrollNav component

            // $.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
            //     duration: 700,
            //     easing: 'easeOutExpo'
            // });
            // Form Focus
            $.HSCore.helpers.HSFocusState.init();
            // initialization of hamburger
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // initialization of HSHeader component
            // $.HSCore.components.HSHeader.init($('#js-header'));

            // initialization of tabs
            $.HSCore.components.HSTabs.init('[role="tablist"]');

            // initialiation of carousel
            $.HSCore.components.HSCarousel.init('.js-carousel');

            // initialization of datepicker
            $.HSCore.components.HSDatepicker.init('.js-datepicker');

            // initialization of custom select
            $.HSCore.components.HSSelect.init('.js-custom-select');

            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');

            // initialization of countdowns
            var countdowns = $.HSCore.components.HSCountdown.init('.js-countdown', {
                yearsElSelector: '.js-cd-years',
                monthElSelector: '.js-cd-month',
                daysElSelector: '.js-cd-days',
                hoursElSelector: '.js-cd-hours',
                minutesElSelector: '.js-cd-minutes',
                secondsElSelector: '.js-cd-seconds'
            });

            $.sessionStorage.fillNvElement();

            // initialiation of cubeportfolio
            $.HSCore.components.HSCubeportfolio.init('.cbp');

        });

        $(window).on('resize', function () {
            // initialization of tabs
            setTimeout(function () {
                $.HSCore.components.HSTabs.init('[role="tablist"]');
            }, 200);
        });
    </script>
</body>

</html>