<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Title -->
    <title>SPEX S02 | New heros are always welcome.</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" href="favicon.ico"> -->

    <!-- Google Fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700%7CEk+Mukta:400,600,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Niconne">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/s2/assets/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/s2/assets/vendor/icon-line/css/simple-line-icons.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/s2/assets/vendor/jquery-confirm/jquery-confirm.min.css">
    <link rel="stylesheet" href="/s2/assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/s2/assets/vendor/hamburgers/hamburgers.min.css">
    <link rel="stylesheet" href="/s2/assets/vendor/wait-animate.min.css">
    <link rel="stylesheet" href="/s2/assets/vendor/animate.css">
    <link rel="stylesheet" href="/s2/assets/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/s2/assets/vendor/dzsparallaxer/dzsparallaxer.css">
    <link rel="stylesheet" href="/s2/assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
    <link rel="stylesheet" href="/s2/assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
    <link rel="stylesheet" href="/s2/assets/vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="/s2/assets/css/unify.css">

    <!-- Overwatch HeroIcons -->
    <link rel="stylesheet" href="/s2/assets/vendor/overwatch-icon/ohi_font.css">

    <!-- CSS Template -->
    <link rel="stylesheet" href="/s2/assets/css/styles.op-construction.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/s2/assets/css/custom.css">


</head>

<body>
    <main>

        <!-- Promo Block -->
        <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
            <div class="divimage dzsparallaxer--target w-100 g-bg-pos-top-center u-bg-overlay g-bg-black-opacity-0_4--after" style="height: 140%; background-image: url('/img/index/background.jpg');">

                <div class="layer left tracer"></div>
                <div class="layer right widowmaker"></div>
                <div class="layer left symmetra"></div>
                <div class="layer right hanzo"></div>
                <div class="layer left soldier-76"></div>
                <div class="layer right mercy"></div>
                <div class="layer left winston"></div>
                <div class="layer right pharah"></div>

            </div>

            <div class="container g-color-white g-pt-100 g-pb-40" style="z-index:5;">
                <div class="g-mb-50">
                    <span class="d-block g-color-white-opacity-0_8 g-font-weight-500 g-font-size-20">New heros are always welcome.</span>
                    <h3 class="g-color-white g-font-weight-700 g-font-size-50 g-font-size-90--md g-line-height-1_2 mb-0">SPEX</h3>
                    <p class="g-color-white g-font-weight-600 g-font-size-20 text-uppercase">SEASON 02</p>
                </div>

                <div class="d-flex justify-content-end">
                    <ul class="u-list-inline g-bg-gray-dark-v1 g-font-weight-300 g-rounded-50 g-py-5 g-px-20">
                        <li class="list-inline-item g-mr-5">
                            <a class="u-link-v5 g-color-white g-color-primary--hover" href="#">Home</a>
                            <i class="g-color-white-opacity-0_5 g-ml-5">/</i>
                        </li>

                        <li class="list-inline-item g-color-primary g-font-weight-400">
                            <span>Login</span>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Promo Block -->



        <!-- Login -->
        <section class="container g-pt-100 g-pb-20">
            <div class="row justify-content-between">
                <div class="col-md-6 col-lg-5 flex-md-unordered g-mb-80">
                    <div class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-4">
                        <header class="text-center mb-4">
                            <h1 class="h4 g-color-black g-font-weight-500">배틀태그조회 후 가입하세요</h1>
                        </header>

                        <!-- Form -->
                        <form class="g-py-15">
                            <div class="row">
                                <div class="col g-mb-20">
                                    <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded g-py-15 g-px-15" type="text"
                                        name="battletag" placeholder="BattleTag#0000" id="battletag">
                                </div>

                                <div class="col g-mb-20">
                                    <button class="btn btn-block u-btn-primary g-font-size-default text-uppercase g-py-13" type="button" id="search">아이디조회</button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="media mb-5 g-px-15">
                                    <div class="d-flex mr-3">
                                        <div class="TeamMember-avatar" id="form_icon" style="background-image:url(/s2/assets/img/nav/avatar-overwatch-default.png);"></div>
                                    </div>

                                    <div class="media-body align-self-center">
                                        <div class="row">
                                            <div class="col g-mb-20">
                                                <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded g-py-15 g-px-15" type="text"
                                                    id="form_score" name="score" placeholder="경쟁전점수" disabled>
                                            </div>
                                            <div class="col g-mb-20">
                                                <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded g-py-15 g-px-15" type="text"
                                                    id="form_level" name="level" placeholder="레벨" disabled>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col g-mb-20">
                                                <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded g-py-15 g-px-15" type="text"
                                                    id="form_tier" name="tier" placeholder="티어" disabled>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col g-mb-20">
                                    <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded g-py-15 g-px-15" type="password"
                                        name="password" placeholder="핀넘버" maxlength="4">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col g-mb-20">
                                    <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded g-py-15 g-px-15" type="password"
                                        name="conform_password" placeholder="핀넘버확인" maxlength="4">
                                </div>
                            </div>

                            <div class="mb-1">
                                <label class="form-check-inline u-check g-color-gray-dark-v5 g-font-size-13 g-pl-25 mb-2">
                        <input class="hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox" name="form_policy">
                        <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                          <i class="fa" data-check-icon="&#xf00c"></i>
                        </div>
                         <a href="#">SPEX운영방칙</a>을 준수하겠습니다.
                      </label>
                            </div>

                            <button class="btn btn-block u-btn-primary g-font-size-default text-uppercase g-py-13" type="submit" id="form_join" disabled>가입하기</button>
                        </form>
                        <!-- End Form -->
                    </div>

                    <div class="text-center">
                        <p class="g-color-gray-dark-v5 g-font-size-12 mb-0">계정이 이미 있으신가요?
                            <a class="g-font-weight-600" href="/s2/signin">가입하기</a></p>
                    </div>
                </div>

                <div class="col-md-6 flex-md-first g-mb-80">
                    <div class="mb-5">
                        <h2 class="h1 g-font-weight-400 mb-3">SPEX 에 오신걸 환영합니다.</h2>
                        <p class="g-color-gray-dark-v4">삼성전자 오버워치 동호회 리그(SPEX) 사이트입니다. 전반적인 리그정보 진행 상황을 확인하실 수 있습니다.</p>
                    </div>

                    <div class="row">
                        <div class="col-lg-9">
                            <!-- Icon Blocks -->
                            <!-- <div class="media mb-5">
                                <div class="d-flex mr-3">
                                    <span class="align-self-center u-icon-v1 u-icon-size--lg g-color-primary">
                                        <i class="icon-finance-168 u-line-icon-pro"></i>
                                    </span>
                                </div>
                                <div class="media-body align-self-center">
                                    <h3 class="h5 g-font-weight-400">Reliable contracts</h3>
                                    <p class="g-color-gray-dark-v5 mb-0">Reliable contracts, multifanctionality &amp; best usage of Unify template</p>
                                </div>
                            </div> -->
                            <!-- End Icon Blocks -->

                            <!-- Icon Blocks -->
                            <!-- <div class="media mb-5">
                                <div class="d-flex mr-3">
                                    <span class="align-self-center u-icon-v1 u-icon-size--lg g-color-primary">
                      <i class="icon-finance-193 u-line-icon-pro"></i>
                    </span>
                                </div>
                                <div class="media-body align-self-center">
                                    <h3 class="h5 g-font-weight-400">Security</h3>
                                    <p class="g-color-gray-dark-v5 mb-0">Secure &amp; integrated options to create individual &amp; business websites</p>
                                </div>
                            </div> -->
                            <!-- End Icon Blocks -->

                            <!-- Icon Blocks -->
                            <!-- <div class="media">
                                <div class="d-flex mr-3">
                                    <span class="align-self-center u-icon-v1 u-icon-size--lg g-color-primary">
                      <i class="icon-finance-122 u-line-icon-pro"></i>
                    </span>
                                </div>
                                <div class="media-body align-self-center">
                                    <h3 class="h5 g-font-weight-400">Maintain</h3>
                                    <p class="g-color-gray-dark-v5 mb-0">We get it, you're busy and it's important that someone keeps up with marketing</p>
                                </div>
                            </div> -->
                            <!-- End Icon Blocks -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Login -->



    </main>

    <!-- JS Global Compulsory -->
    <script src="/s2/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/s2/assets/vendor/tether.min.js"></script>
    <script src="/s2/assets/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="/s2/assets/vendor/jquery-confirm/jquery-confirm.min.js"></script>
    <script src="/s2/assets/vendor/appear.js"></script>
    <script src="/s2/assets/vendor/slick-carousel/slick/slick.js"></script>

    <script src="/s2/assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="/s2/assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
    <script src="/s2/assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>

    <script src="/s2/assets/vendor/jquery.countdown.min.js"></script>
    <script src="/s2/assets/vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>

    <!-- JS Storage for Session -->
    <script src="/s2/assets/js/storage.js"></script>

    <!-- JS Unify -->
    <script src="/s2/assets/js/hs.core.js"></script>

    <script src="/s2/assets/js/components/hs.header.js"></script>
    <script src="/s2/assets/js/helpers/hs.hamburgers.js"></script>
    <script src="/s2/assets/js/components/hs.scroll-nav.js"></script>
    <script src="/s2/assets/js/components/hs.tabs.js"></script>
    <script src="/s2/assets/js/components/hs.carousel.js"></script>
    <script src="/s2/assets/js/components/hs.countdown.js"></script>
    <script src="/s2/assets/js/components/hs.cubeportfolio.js"></script>

    <!-- JS Customization -->
    <script src="/s2/assets/js/custom.js"></script>


    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
            // initialization of HSScrollNav component

            // $.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
            //     duration: 700,
            //     easing: 'easeOutExpo'
            // });

            // initialization of hamburger
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // initialization of HSHeader component
            $.HSCore.components.HSHeader.init($('#js-header'));

            // initialization of tabs
            $.HSCore.components.HSTabs.init('[role="tablist"]');

            // initialiation of carousel
            $.HSCore.components.HSCarousel.init('.js-carousel');



            // initialization of countdowns
            var countdowns = $.HSCore.components.HSCountdown.init('.js-countdown', {
                yearsElSelector: '.js-cd-years',
                monthElSelector: '.js-cd-month',
                daysElSelector: '.js-cd-days',
                hoursElSelector: '.js-cd-hours',
                minutesElSelector: '.js-cd-minutes',
                secondsElSelector: '.js-cd-seconds'
            });

            // initialiation of cubeportfolio
            $.HSCore.components.HSCubeportfolio.init('.cbp');
        });

        $(window).on('resize', function () {
            // initialization of tabs
            setTimeout(function () {
                $.HSCore.components.HSTabs.init('[role="tablist"]');
            }, 200);
        });

        var query_info = null;

        $('#search').on('click', function (e) {
            var sid = $("#battletag").val().toRequestID();
            $.get("/api/search/" + sid, {}, function (response, status) {
                if (response.success) {
                    $('#form_tier').val(response.info.profile.ranking);
                    $('#form_score').val(response.info.profile.rank);
                    $('#form_level').val('LV.' + response.info.profile.tier + '' + response.info.profile
                        .level);
                    $('#form_icon').css('background-image', ('url(\'' + response.info.profile.avatar +
                        '\''));
                    $('#form_join').removeAttr('disabled');
                    query_info = response.info;
                } else {
                    alert('배틀태그를 찾을수 없습니다. 대소문자를 확인해주세요');
                }
            });
        });


        $("form").on("submit", function (event) {
            event.preventDefault();

            var policy = $(this).find('input[name="form_policy"]').prop('checked');
            if (!policy) {
                $.alert('이용자정책을 동의하세요');
                return;
            }

            // password
            // conform_password
            var user = $(this).find('input[name="battletag"]').val();
            var password = $(this).find('input[name="password"]').val();
            var conform_password = $(this).find('input[name="conform_password"]').val();
            var save = $(this).find('input[name="save"]').prop('checked');

            var pin_pattern = /^\d+$/;

            if (password != conform_password || !pin_pattern.test(password)) {
                alert('핀번호 오류입니다. 확인해주세요.');
                return;
            }

            $.post("/api/signup", {
                user: user,
                password: password,
                info: JSON.stringify(query_info),
                save: save
            }, function (response, status) {

                if (response.success) {
                    if (response.info.account.security.savepassword) {
                        // console.log('localstorage');
                        $.sessionStorage.loginWithSave(response.info.id, response.info.account.player.icon,
                            response.info.competitive.level);
                    } else {
                        $.sessionStorage.login(response.info.id, response.info.account.player.icon,
                            response.info.competitive.level);
                    }
                    console.log($.sessionStorage.getID());

                    $(location).attr('href', '/s2');
                } else {
                    alert(response.message);
                }

            });
        });
    </script>
</body>

</html>