<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Title -->
    <title>SPEX S02 | New heroes are always welcome.</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" href="favicon.ico"> -->

    <!-- Google Fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700%7CEk+Mukta:400,600,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Niconne">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/s2/assets/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/s2/assets/vendor/icon-line/css/simple-line-icons.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/s2/assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/s2/assets/vendor/hamburgers/hamburgers.min.css">
    <link rel="stylesheet" href="/s2/assets/vendor/jquery-confirm/jquery-confirm.min.css">
    <link rel="stylesheet" href="/s2/assets/vendor/wait-animate.min.css">
    <link rel="stylesheet" href="/s2/assets/vendor/animate.css">
    <link rel="stylesheet" href="/s2/assets/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/s2/assets/vendor/dzsparallaxer/dzsparallaxer.css">
    <link rel="stylesheet" href="/s2/assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
    <link rel="stylesheet" href="/s2/assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
    <link rel="stylesheet" href="/s2/assets/vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="/s2/assets/css/unify.css">

    <!-- Overwatch HeroIcons -->
    <link rel="stylesheet" href="/s2/assets/vendor/overwatch-icon/ohi_font.css">

    <!-- CSS Template -->
    <link rel="stylesheet" href="/s2/assets/css/styles.op-construction.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/s2/assets/css/custom.css">


</head>

<body>
    <main>

        <!-- Promo Block -->
        <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
            <div class="divimage dzsparallaxer--target w-100 g-bg-pos-top-center u-bg-overlay g-bg-black-opacity-0_4--after" style="height: 140%; background-image: url('/img/index/background.jpg');">

                <div class="layer left tracer"></div>
                <div class="layer right widowmaker"></div>
                <div class="layer left symmetra"></div>
                <div class="layer right hanzo"></div>
                <div class="layer left soldier-76"></div>
                <div class="layer right mercy"></div>
                <div class="layer left winston"></div>
                <div class="layer right pharah"></div>

            </div>

            <div class="container g-color-white g-pt-100 g-pb-40" style="z-index:5;">
                <div class="g-mb-50">
                    <span class="d-block g-color-white-opacity-0_8 g-font-weight-500 g-font-size-20">New heros are always welcome.</span>
                    <h3 class="g-color-white g-font-weight-700 g-font-size-50 g-font-size-90--md g-line-height-1_2 mb-0">SPEX</h3>
                    <p class="g-color-white g-font-weight-600 g-font-size-20 text-uppercase">SEASON 02</p>
                </div>

                <div class="d-flex justify-content-end">
                    <ul class="u-list-inline g-bg-gray-dark-v1 g-font-weight-300 g-rounded-50 g-py-5 g-px-20">
                        <li class="list-inline-item g-mr-5">
                            <a class="u-link-v5 g-color-white g-color-primary--hover" href="#">Home</a>
                            <i class="g-color-white-opacity-0_5 g-ml-5">/</i>
                        </li>

                        <li class="list-inline-item g-color-primary g-font-weight-400">
                            <span>Login</span>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Promo Block -->



        <!-- Login -->
        <section class="container g-pt-50 g-pb-10">
            <div class="row justify-content-between">
                <div id="normal_login" class="col-md-6 col-lg-5 flex-md-unordered g-mb-80 g-show-check">
                    <div class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-4">
                        <header class="text-center mb-4">
                            <h1 class="h4 g-color-black g-font-weight-500">아이디#배틀태그 로그인</h1>
                        </header>

                        <!-- Form -->
                        <form class="g-py-15">
                            <div class="mb-4">
                                <div class="input-group rounded">
                                    <span class="input-group-addon g-width-45 g-brd-gray-light-v3 g-color-gray-dark-v5">
                                        <i class="fa fa-user-o"></i>
                                    </span>
                                    <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded g-py-15 g-px-15" type="text"
                                        name="tag" placeholder="BattleTag#00000">
                                </div>
                            </div>

                            <div class="mb-4">
                                <div class="input-group rounded mb-4">
                                    <span class="input-group-addon g-width-45 g-brd-gray-light-v3 g-color-gray-dark-v5">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                    <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded g-py-15 g-px-15" type="password"
                                        maxlength="4" name="password" placeholder="PinNumber">
                                </div>
                            </div>

                            <div class="row justify-content-between mb-5">
                                <div class="col align-self-center">
                                    <label class="form-check-inline u-check g-color-gray-dark-v5 g-font-size-13 g-pl-25 mb-0">
                                    <input class="hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox" name="save">
                                    <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                                        <i class="fa" data-check-icon="&#xf00c"></i>
                                    </div>
                                    아이디저장
                                    </label>
                                </div>
                                <div class="col align-self-center text-right">
                                    <a class="g-font-size-13" href="#"><i class="fa fa-key mr-2"></i>핀번호찾기</a>
                                </div>
                            </div>

                            <div class="mb-1">
                                <button class="btn btn-block u-btn-primary g-font-size-default text-uppercase g-py-13" type="submit">로그인</button>
                            </div>
                            <!-- 
                            <div class="d-flex justify-content-center text-center g-mb-30">
                                <div class="d-inline-block align-self-center g-width-50 g-height-1 g-bg-gray-light-v1"></div>
                                <span class="align-self-center g-color-gray-dark-v5 mx-4">OR</span>
                                <div class="d-inline-block align-self-center g-width-50 g-height-1 g-bg-gray-light-v1"></div>
                            </div>

                            <div class="row no-gutters">
                                <div class="col-6">
                                    <button class="btn btn-block u-btn-facebook rounded g-py-13 mr-2" type="button"><i class="mr-1 fa fa-facebook"></i>
                      Facebook
                    </button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-block u-btn-twitter rounded g-py-13 ml-2" type="button">
                      <i class="mr-1 fa fa-twitter"></i>
                      Twitter
                    </button>
                                </div>
                            </div> -->
                        </form>
                        <!-- End Form -->
                    </div>

                    <div class="text-center">
                        <p class="g-color-gray-dark-v5 g-font-size-12 mb-0">계정이 없으신가요?
                            <a class="g-font-weight-600" href="/s2/signup">가입하기</a></p>
                    </div>
                </div>

                <div id="session_login" class="col-md-6 col-lg-5 flex-md-unordered g-mb-80 g-show-check">
                    <div class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-4">
                        <header class="text-center mb-4">
                            <h1 id="session_title" class="h4 g-color-black g-font-weight-500">로그인</h1>
                        </header>
                        <div class="mb-4">
                            <!-- 토큰기반 로그인으로 쿠키값 받는걸로 변경 필요 -->
                            <a class="btn btn-block u-btn-primary g-font-size-default text-uppercase g-py-13" id="one_click_signin">로그인</a>
                        </div>
                        <div class="mb-1">
                            <p class="g-color-gray-dark-v5 g-font-size-12 text-center mb-0">다른아이디
                                <a class="g-font-weight-600" id="sign_out_button">로그인</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 flex-md-first g-mb-80">
                    <div class="mb-5">
                        <h2 class="h1 g-font-weight-400 mb-3">SPEX 에 오신걸 환영합니다.</h2>
                        <p class="g-color-gray-dark-v4">삼성전자 오버워치 동호회 리그(SPEX) 사이트입니다. 전반적인 리그정보 진행 상황을 확인하실 수 있습니다.</p>
                    </div>

                    <div class="row">
                        <div class="col-lg-9">
                            <!-- Icon Blocks -->
                            <!-- <div class="media mb-5">
                                <div class="d-flex mr-3">
                                    <span class="align-self-center u-icon-v1 u-icon-size--lg g-color-primary">
                                        <i class="icon-finance-168 u-line-icon-pro"></i>
                                    </span>
                                </div>
                                <div class="media-body align-self-center">
                                    <h3 class="h5 g-font-weight-400">Reliable contracts</h3>
                                    <p class="g-color-gray-dark-v5 mb-0">Reliable contracts, multifanctionality &amp; best usage of Unify template</p>
                                </div>
                            </div> -->
                            <!-- End Icon Blocks -->

                            <!-- Icon Blocks -->
                            <!-- <div class="media mb-5">
                                <div class="d-flex mr-3">
                                    <span class="align-self-center u-icon-v1 u-icon-size--lg g-color-primary">
                      <i class="icon-finance-193 u-line-icon-pro"></i>
                    </span>
                                </div>
                                <div class="media-body align-self-center">
                                    <h3 class="h5 g-font-weight-400">Security</h3>
                                    <p class="g-color-gray-dark-v5 mb-0">Secure &amp; integrated options to create individual &amp; business websites</p>
                                </div>
                            </div> -->
                            <!-- End Icon Blocks -->

                            <!-- Icon Blocks -->
                            <!-- <div class="media">
                                <div class="d-flex mr-3">
                                    <span class="align-self-center u-icon-v1 u-icon-size--lg g-color-primary">
                      <i class="icon-finance-122 u-line-icon-pro"></i>
                    </span>
                                </div>
                                <div class="media-body align-self-center">
                                    <h3 class="h5 g-font-weight-400">Maintain</h3>
                                    <p class="g-color-gray-dark-v5 mb-0">We get it, you're busy and it's important that someone keeps up with marketing</p>
                                </div>
                            </div> -->
                            <!-- End Icon Blocks -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Login -->



    </main>

    <!-- JS Global Compulsory -->
    <script src="/s2/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/s2/assets/vendor/tether.min.js"></script>
    <script src="/s2/assets/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="/s2/assets/vendor/jquery-confirm/jquery-confirm.min.js"></script>
    <script src="/s2/assets/vendor/appear.js"></script>
    <script src="/s2/assets/vendor/slick-carousel/slick/slick.js"></script>

    <script src="/s2/assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="/s2/assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
    <script src="/s2/assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>

    <script src="/s2/assets/vendor/jquery.countdown.min.js"></script>
    <script src="/s2/assets/vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>

    <!-- JS Storage for Session -->
    <script src="/s2/assets/js/storage.js"></script>

    <!-- JS Unify -->
    <script src="/s2/assets/js/hs.core.js"></script>

    <script src="/s2/assets/js/components/hs.header.js"></script>
    <script src="/s2/assets/js/helpers/hs.hamburgers.js"></script>
    <script src="/s2/assets/js/components/hs.scroll-nav.js"></script>
    <script src="/s2/assets/js/components/hs.tabs.js"></script>
    <script src="/s2/assets/js/components/hs.carousel.js"></script>
    <script src="/s2/assets/js/components/hs.countdown.js"></script>
    <script src="/s2/assets/js/components/hs.cubeportfolio.js"></script>

    <!-- JS Customization -->
    <script src="/s2/assets/js/custom.js"></script>


    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
            // initialization of HSScrollNav component

            // $.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
            //     duration: 700,
            //     easing: 'easeOutExpo'
            // });

            // initialization of hamburger
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // initialization of HSHeader component
            $.HSCore.components.HSHeader.init($('#js-header'));

            // initialization of tabs
            $.HSCore.components.HSTabs.init('[role="tablist"]');

            // initialiation of carousel
            $.HSCore.components.HSCarousel.init('.js-carousel');



            // initialization of countdowns
            var countdowns = $.HSCore.components.HSCountdown.init('.js-countdown', {
                yearsElSelector: '.js-cd-years',
                monthElSelector: '.js-cd-month',
                daysElSelector: '.js-cd-days',
                hoursElSelector: '.js-cd-hours',
                minutesElSelector: '.js-cd-minutes',
                secondsElSelector: '.js-cd-seconds'
            });

            // initialiation of cubeportfolio
            $.HSCore.components.HSCubeportfolio.init('.cbp');
        });

        $(window).on('resize', function () {
            // initialization of tabs
            setTimeout(function () {
                $.HSCore.components.HSTabs.init('[role="tablist"]');
            }, 200);
        });


        if ($.sessionStorage.hasSession()) {
            var title = $.sessionStorage.getID().toDisplayID() + '님 환영합니다.';
            $("#session_title").text(title);
            $("#session_login").removeClass('g-show-check');
            if (window.Android) {
                window.Android.registerID($.sessionStorage.getID());
            }

        } else {
            $("#normal_login").removeClass('g-show-check');
        }

        $("#sign_out_button").bind('click', function (e) {
            $.sessionStorage.logout();
            $(location).attr('href', '/');
            e.preventDefault();
        });



        var signinCallback = function (response, status) {

            if (response.accept) {

                if (response.save) {
                    $.sessionStorage.loginWithSave(response.info.id, response.info.icon, response.info
                        .level, response.info.token);
                } else {
                    $.sessionStorage.login(response.info.id, response.info.icon, response.info.level,
                        response.info.token);
                }

                console.log('signin[' + $.sessionStorage.getID() + '] - {0}'.format(response.info.token));

                // android token register
                if (window.Android) {
                    window.Android.registerID($.sessionStorage.getID());
                }

                $(location).attr('href', '/s2');

            } else {
                $.alert(response.message);
            }

        };


        $("form").on("submit", function (event) {
            event.preventDefault();

            var user = $(this).find('input[name="tag"]').val();
            var pin_number = $(this).find('input[name="password"]').val();
            var save = $(this).find('input[name="save"]').prop('checked');

            // console.log(user);
            // console.log(pin_number);
            // console.log(save);

            $.post("/api/auth/signin", {
                user: user,
                password: pin_number,
                save: save
            }, signinCallback);
        });

        $("#one_click_signin").on('click', function (event) {
            $.post('/api/auth/resignin', {
                user: $.sessionStorage.getID()
            }, signinCallback);
        });
    </script>
</body>

</html>