<section id="entry_section" class="g-show-check g-bg-secondary dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall"
    data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "50"}'>
    <div class="divimage dzsparallaxer--target w-100 g-bg-pos-top-center u-bg-overlay g-bg-black-opacity-0_7--after" style="height: 250%; background-image: url(/s2/assets/img/screenshot/mccree.jpg);"></div>

    <div class="container">
        <div class="row g-py-100">
            <div class="col-12 col-md-8">
                <div class="row">
                    <div class="col-4 col-md-4 text-right">
                        <div class="TeamMember-avatar spex-recent-game-register-image" style="background-image:url(/s2/assets/img/nav/avatar-overwatch-default.png);"></div>
                    </div>
                    <div class="col-8 col-md-8">
                        <div class="media g-mb-15 g-pl-8">
                            <div class="media-left d-flex align-self-center g-mr-10">
                                <i class="fa fa-calendar g-font-size-27 g-color-white"></i>
                            </div>

                            <div class="media-body text-uppercase">
                                <p class="g-mb-0"><strong class="g-font-size-12 g-font-weight-400 g-color-white">경기일시</strong></p>
                                <h3 class="h3 text-uppercase g-font-size-13 g-font-weight-700 g-color-white mb-0 spex-recent-game-date">2018년 05월 05일 10시</h3>
                            </div>
                        </div>


                        <!-- Countdown v4 -->
                        <div class="js-countdown text-uppercase u-countdown-v4 g-color-white g-mb-40 g-pl-8" data-end-date="2018-05-05" data-month-format="%m"
                            data-days-format="%D" data-hours-format="%H" data-minutes-format="%M" data-seconds-format="%S">
                            <div class="g-font-weight-700 g-font-size-12 g-font-size-36--md ">경기까지</div>
                            <div class="js-cd-days g-font-size-26 g-font-size-40--md g-font-weight-700 g-line-height-1 g-mb-5 d-inline-block">12</div>
                            <span class="g-font-size-13 g-font-size-36--md g-font-weight-700 mr-1">일</span>
                            <div class="js-cd-hours g-font-size-26 g-font-size-40--md g-font-weight-700 g-line-height-1 g-mb-5 d-inline-block">01</div>
                            <span class="g-font-size-13 g-font-size-36--md g-font-weight-700">:</span>
                            <div class="js-cd-minutes g-font-size-26 g-font-size-40--md g-font-weight-700 g-line-height-1 g-mb-5 d-inline-block">52</div>
                            <span class="g-font-size-13 g-font-size-36--md g-font-weight-700">:</span>
                            <div class="js-cd-seconds g-font-size-26 g-font-size-40--md g-font-weight-700 g-line-height-1 g-mb-5 d-inline-block">52</div>
                            <span class="g-font-size-13 g-font-size-36--md g-font-weight-700">남음</span>
                        </div>
                    </div>
                </div>



            </div>
            <div class="col-12 col-md-4 text-center g-mt-0--md align-self-center">
                <button class="h2 d-inline-block g-brd-around g-brd-2 g-theme-brd-blue g-theme-bg-blue g-theme-bg-blue--hover g-color-white g-font-weight-700 g-font-size-16 text-uppercase g-line-height-1_2 g-letter-spacing-3 g-py-12 g-px-20 spex-recent-game-register"><i class="icon-note mr-2"></i>엔트리등록</button>
            </div>
        </div>
    </div>
</section>

<!-- <hr class="g-brd-gray-light-v4 my-0"> -->